/* jester and katie's free css template -
made based off of katie's v2 free css template / should be considered v3

NOTE: THIS IS MADE TO BE AN ULTIMATE TEMPLATE
what does this mean? this means there is a lot of stuff in here your average coder
just getting into coding css will not use. anyone can use this template, regardless of skill level,
but if you're unsure what something may be used for, it may not added with beginners in mind.

if you're unsure of what something may do, or worried it may break something if you change it, feel free to leave it alone
you can change stuff with inspect element to see if it'll help

you can use this for commissions, for personal use, etc.
please do not remove the credit of all the users who went into this, though.

template made by jester (#187561) & katie (#106445)

there are a lot of other codes at use here randomly strewn throughout this and various other
codes done by the both of us.
below is a list of ids credited with other pieces/inspiration for various things in this template
just because a user is credited it does not mean their code is used in one specific css made with this template,
or even present in this template. however, these are all users who have made significant contributions to css coding
and it's almost impossible to ignore what they've done. in some way or the other, they are present in this code
Pandora #144118
Kat  #94329
tawny #251887
Austin #43750 
Bobcat (#79288)
Tserin (#2230)
Atticus (#198107)

some helpful terms to keep in mind
element - the thing you're editing
background - refers to the entire background of the element
color - the TEXT color of the element 
border-radius - the roundness of the borders, for circular elements, set to 50% 
box-shadow - a shadow behind the element itself. you usually want this set to none. 
*/
 
/* FONTS - Import from Google Fonts */
 
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
body { font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;}
 
.topbar {  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;}
 
.navbar {  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;}

/* BACKGROUNDS 
The first one is for PC, the second is for mobile. You can also use an image in the second one
via replacing #HEX with url('IMG LINK') center center fixed;
BUT I recommend repeating patterns rather than full images. */
 
@media screen and (min-width: 601px) { 
body {
background: url('https://cdn.imgchest.com/files/ae56754d9a4d.png') top center fixed;
background-size: 100%;
color: #e5b386; } }

@media screen and (max-width: 600px){
body {
background: #623E37;
background-size: cover;
color: #e5b386; } }

/* SCROLL BOXES */
 
::-webkit-scrollbar {
width: 7px;
height: 7px; }
::-webkit-scrollbar-track {
background: #HEX;}
::-webkit-scrollbar-thumb {
background: #HEX; } 

/* first number is thumb, second is track, firefox only */
:root {
scrollbar-color: #e5b386 #43251B !important;
scrollbar-width: auto;}
 
/* HEADERS -
H1 is the big header that says 'X's Den'
H2 is not used anywhere in the default look unless you want to use it.
H3 is used in the side bar (above the energy panel, achievement panel, etc. */
 
h1 {
color: #e5b386 !important;
font-size: 64px;
text-align: center !important;
font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
text-shadow: 4px 4px 5px #43251B !important;}
h1 small {
color: #e5b386 !important; }

h2 {
color: #e5b386 !important;
font-size: 24px;
font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;}

h3 {
color: #e5b386 !important;
font-size: 18px;
font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
text-shadow: 2px 2px 3px #43251B !important;}
 
/* LINKS
Color of links. This will affect all links on your page.
Plan accordingly. */
 
a:link,
a:visited {
color: #e5b386 !important;
background: none !important; }
   
a:hover {
text-decoration: underline !important;}
 
/* MAIN PANEL - The panel in front of your background image. Usually a solid color on Lioden.
You can make it a solid color by either using a HEX code, or by setting the final number in RGBA to 1.0 */
   
.container.main {
background: rgba(55, 58, 39, 0.0);
border: none;
box-shadow: none;
border-radius: 5px; }
.col-md-9 {
background: none; } 
 
/* TOPBAR, NAVBAR, & BREADCRUMB */
 
.topbar {
background: #43251B !important;
color: #e5b386 !important;
border: none !important;
border-radius: 0px !important;  }
 
.navbar {
background: #43251B !important;
color: #e5b386 !important;
border: none !important;
border-radius: 0px !important; }

.navbar li a:hover {
background: #e5b386 !important;
color: #43251B !important; }

/* This is mobile collapable navbar color changes.
toggle is the button that opens the navbar
leave .navbar-toggle background set to #HEX to have it inherit the color of the navbar
navbar-collapse is just there to hide the white line 
*/

.navbar-toggle {
border: none !important;
background: #43251B !important;
}

.navbar-collapse {
box-shadow: none !important;
border-top: none !important;
}

 
/* Bookmark Bar - aka breadcrumb, this is where your link path is shown */

.breadcrumb {
background: #e5b386 !important;
color: #43251B !important;
border: none !important;
border-radius: 0px !important;} 
.breadcrumb .active {
color: #43251B; }
.breadcrumb a:visited {
    color: #43251B !important;
}
 
/* ALERTS 
.alert is all alerts, only set this one if you want all alerts to be the same color
.alert-success is the green one you see for hunting, patrolling, etc.
.alert-danger is red alerts, like inbox
.alert-warning is also some other red alerts, but I can't remember which ones. keep this
and danger the same color for best results
(quick notice maybe? more research)*/
 
.alert {
background: #e5b386 !important;
color: #43251B !important;
border: none !important;
border-radius: 0px !important;
text-align: center !important;  }
.alert a, .alert a:link, .alert a:visited {
    color: #43251B !important;
}
 
.text-muted { 
color: #e5b386 !important; }

table#player.table hr {
display: none !important; }
table#player.table div.xlarge { 
margin-top: 10px !important; }

 
/* SIDE PANELS 

you can use https://www.transparenttextures.com/ to have your panel bgs, your progress bars, almost any element in your css have a texture!
please note that the css provided by the site does NOT work on replaced images, you have to do something weird for those. */
 
.panel {
background: #43251B !important;
color: #e5b386 !important;
border: none !important;
border-radius: 0px !important;
box-shadow: none !important;  }
   
/*IMPRESSION / ALL PROGRESS Bars
Unless you color the progress bars below, all progress bars will default
to the colors you put here.
Bars will also inherit the border-radius value from this one, so it's
not needed to specify border-radius for all bars. */
.progress-bar {
background: #90503A !important; 
border-radius: 0px !important; }


/* This is the text that reads Energy: X% */
.progress div {
color: #f2d9c3 !important; }

/* This is the background of the progress bars. */
.progress {
background:  #613527 !important;
color: #HEX !important;
border-radius: 0px !important;  }
 
/* CHAT */

button#label_currentChannel {
border: none !important;
background: #43251B !important; }

div#chatMessageContainer {
border: none !important; }

/* PINNED MESSAGES - This will change the background color of where staff pin news */

.s-chat-message__pinned {
background-color: #43251B !important;
color: #e5b386 !important;
border: none !important; }

/* Odd will show at the TOP of chat, even will show every other message under it. If you want both colors the same, just copy and
paste the code for each option*/ 

.s-chat-message:nth-child(even) {
background: #e5b386 !important;
    color: #43251B !important;
border: none !important; }
.s-chat-message:nth-child(odd) {
background: #e5b386 !important;
        color: #43251B !important;
border: none !important; }

.s-chat-message_timestamp {
color: #43251B !important; }
.s-chat-message:nth-child(even) a, .s-chat-message:nth-child(even) a:visited,
.s-chat-message:nth-child(even) a:hover, .s-chat-message:nth-child(odd) a,
.s-chat-message:nth-child(odd) a:visited, .s-chat-message:nth-child(odd) a:hover {
    color: #43251B !important;
}

/* Channel Selector */ 
.s-chat-sidebar #fraChatChannelMenu,
button.channelSwitcher, button.channelSwitcher.active {
    background: #43251B !important;
color: #e5b386 !important;	
border: none !important;
border-radius: 0px !important;
box-shadow: none !important; }

/* Emote List
Keep border-top on div.emoteList.active::before as none, otherwise you'll
have a super weird gap between the emotelist and the little triangle*/

div.emoteList.active {
  background: #43251B !important;
  border: 1px solid #e5b386 !important;
  box-shadow: none !important;
}
div.emoteList.active::before {
background: #43251B
border-top: none !important;
border: 1px solid #e5b386 !important; }



/* This changes the color of pinged messages. Yes, it has to say background-color
no it doesn't work if you just do background.
may 8th: stop touchy */
	
#chatMessageList[data-pings="enabled"] .s-chat-message_mention {
background-color: #e5b386 !important;
border-left: 6px solid #43251B !important;
color: #43251B !important; }

/* This is the character counter, that displays X/150 */

div#lblCharacterCounter {
color: #e5b386 !important; }

/* I can't remember what this does but I know things get weird if you touch it
that means do NOT touch it.
i'm being so fr stop touching this */
html.nolayout {
background: none !important; }

/* FAPA, KING DYNASTY, ETC.
The .xsmall makes it where FAPA boxes are the same length.
div.left controls BOTH the dynasty, achievements, showcase, beetle book AND
view breeding requests, view user log, and view attack history buttons */
 
.feature {
background: #43251B !important;
color: #e5b386 !important;
border: none !important;
border-radius: 0px !important;  }

div.left {
background: #43251B !important;
color: #e5b386 !important;
border: none !important;
border-radius: 0px !important; }

.xsmall {
font-size: 14px !important; }
 
/* LION INFO 
Table - the background behind your table. You can make this a solid color by replacing
rgba(0, 0, 0, 0.0) with a HEX code, or by replacing the 0.0 with a 1.0 */
 
.table {
background: rgba(132,76,47,0.7);
border: none !important;
border-collapse: separate;
border-radius: 0px; }

/* .top is where your king's name is displayed
.bottom is where your number of mutations within your pride is displayed
th is every other header on your den, like sparring table, reclaim left lions,
edit details, etc. */

.top, .bottom, th {
background: #43251B !important;
color: #e5b386 !important;
border: none !important;
border-radius: 0px !important; }

/* This removes the underline under the 'X mutations in your pride' link
if you like it, you can just delete the code under this */

.bottom a:visited, .bottom a {
text-decoration: none !important;}

/* table.left will be used by the sections on the left of the edit your details panel once open
.inner-table .left is used by the table that displays the names of the sections of
info about your den, like your territory, your king's stats, etc. 
.inner-table .right is used by the boxes next to the king's info, that displays the actual info. */
 
.table .left {
background: #e5b386;
border-radius: 0px !important; }

.inner-table .left {
background: #e5b386 !important;
border-radius: 0px !important;
color: #43251B !important;}

.inner-table .right {
background: #e5b386 !important;
border-radius: 0px !important; 
color: #43251B !important; }
.inner-table .right a, .inner-table .right a:visited {
    color: #43251B !important;
}

.right_odd {
background: none !important; }

/* LION AND USER AVATAR OPACITY */
   
div#lion_image {
opacity: 1.0;
border-radius: 10px;
overflow: hidden; }   
table#player img {
opacity: 1.0;
border-radius: 50%; }

/* LIODEN LOGO REPLACER - You can use any image, but the 192x120 size works best.
otherwise it can make your navbar look weird.
192x120 */
   
div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
display: none;}
div.container.main>div:nth-child(1)>nav>div.navbar-header>a::after {
content: url('https://cdn.imgchest.com/files/c2a013c25b2a.png'); }
 
/* TEXT BOXES & BUTTONS -
all text boxes and buttons will be whatever color you put in here
you can separate them, just by copy and pasting names and the css code behind it
for example, for input to be red while everything else is white, it would look like this
input {background: red !important;}
textarea, select, button.button, a.btn.btn-default.button {background: white !important;} */
 
input, textarea, select, button.button,
a.btn.btn-default.button {
background: #43251B !important;
color: #e5b386 !important;
    border: none !important;
border-radius: 0px !important;
text-shadow: none !important; }
 
/* CAVE NAMES - changes the color of of where cave names are displayed */
 
.cave-grid,
.mound-grid {
background: #43251B !important;
color: #e5b386 !important;
border: none !important;
border-radius: 0px !important; }

/* CAVE & MOUND COVERS
width: 240
height: 120 (60 for half size - like the nesting banner)
first one controls all cave slots - even empty ones.
If you want big cave icons (like the ones here: https://images2.imgbox.com/26/21/3qjfGg8U_o.png), simply use a lioden
bg or an image equal in size (640x500) 
you can change the sizes on the nesting, unsorted, etc, to be the same as the other sizes, as well.
beetle mounds are 130x80px 
you can copy and paste for more caves or mounds than what's provided
*/

div.cave-grid>img {
content: url('https://static.lioden.com/images/items/Amusement/nestingbundle.png')!important;
width: 75px;
height: 75px;}
/* alternate cave display
  code by jester [#187561]
  free to use/edit as you wish, please just retain credit */
#fraCaveList > div:nth-child(n) {
    width: 100% !important;
    max-width: none !important; }

div.cave-grid {
  max-width: 100% !important;
  width: 100% !important;
}

a[href$="150123"] > div.cave-grid > img {
  content: url('https://cdn.imgchest.com/files/1b48b19fdf99.png') !important;
    width: 100% !important;
    margin-bottom: 0px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
a[href$="309479"] > div.cave-grid > img {
  content: url('https://cdn.imgchest.com/files/84aa6cdb2fff.png') !important;
    width: 100% !important;
    margin-bottom: 0px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
a[href$="462480"] > div.cave-grid > img {
  content: url('https://cdn.imgchest.com/files/49a2f7836544.png') !important;
    width: 100% !important;
    margin-bottom: 0px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
a[href$="470135"] > div.cave-grid > img {
  content: url('https://cdn.imgchest.com/files/1e02ca47217e.png') !important;
    width: 100% !important;
    margin-bottom: 0px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
a[href$="164064"] > div.cave-grid > img {
  content: url('https://cdn.imgchest.com/files/f9cbce0092e1.png') !important;
    width: 100% !important;
    margin-bottom: 0px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
a[href$="182952"] > div.cave-grid > img {
  content: url('https://cdn.imgchest.com/files/7660e0dc1520.png') !important;
    width: 100% !important;
    margin-bottom: 0px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
a[href$="158802"] > div.cave-grid > img {
  content: url('https://cdn.imgchest.com/files/f8f3cde6e5ef.png') !important;
    width: 100% !important;
    margin-bottom: 0px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
a[href$="394197"] > div.cave-grid > img {
  content: url('https://cdn.imgchest.com/files/368184e79a3f.png') !important;
    width: 100% !important;
    margin-bottom: 0px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
a[href$="158803"] > div.cave-grid > img {
  content: url('https://cdn.imgchest.com/files/7fa9fc19792f.png') !important;
    width: 100% !important;
    margin-bottom: 0px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
a[href$="364683"] > div.cave-grid > img {
  content: url('https://cdn.imgchest.com/files/8b4db03d0906.png') !important;
    width: 100% !important;
    margin-bottom: 0px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;}
a[href$="182550"] > div.cave-grid > img {
  content: url('https://cdn.imgchest.com/files/3d5404753418.png') !important;
    width: 100% !important;
    margin-bottom: 0px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }

div.cave-grid>img[src$="nestingbanner.png"] {
	content: url('https://cdn.imgchest.com/files/4f6d9922198e.png')!important;
width: 258px !important;
height: auto !important;}
a[href$="unsorted.php?id=211477"]>div.cave-grid>img{
content: url('https://cdn.imgchest.com/files/63116dede565.png')!important;
width: 258px !important;
height: auto !important;}
a[href*="lionoverview.php?id=211477"]>div.cave-grid>img {
content: url('https://cdn.imgchest.com/files/4663e907f5f4.png')!important;
width: 258px !important;
height: auto !important;}


/* CAVE COMPATIBILITY
featured-lion changes the colors behind your featured lion, literally the strip of text where 
it says 'featured lion: NAME'
the image src cave default changes the image behind your lion. it will not make them display decor.

table#pride.table controls where your lions names are shown. we're only giving a color value
here, but you can also edit the background by adding in a background value.
the a, and a:visited values are for links. this will make your lions names be the same color as whatever
color you set for the text
table#pride.table .xsmall just puts the lion subtext back to its regular size, since we edited all
.xsmalls earlier when fixing FAPA. you can remove this if you want the bigger text. */

.featured-lion {
background: #43251B !important;
color: #e5b386 !important;
border: none !important;
border-radius: 0px !important;
padding: 0;
margin: 0 auto;
max-width: 640px;
font-weight: bold;
font-size: 14px; }

img[src*="cave/default"] {
content: url('https://static.lioden.com/images/dynamic/backgrounds/SmokeOnTheWater.png') !important;}

table#pride.table, table#pride.table a, table#pride.table a:visited {
color: #HEX !important; }

table#pride.table .xsmall
{font-size: 12px !important;}

/* This changes the color of the 'badge', aka what displays inbox notifications &
days till heat for lionesses */

.badge {
background: #HEX !important;
color: #HEX !important; }
	
/ * NO LINK UNDERLINE - This removes Link underlines at the links at the bottom of the page,
and removes link underlines from edit your details */
		
.footer a:link, .footer a:visited, .footer a:active {
border-bottom: none !important; }

td.bottom a, th a {
border-bottom: none !important; }

	
/* IF YOU WANT A CUSTOM CURSOR GO TO https://www.cursors-4u.com/
AND COPY AND PASTE THE PROVIDED CODE ONCE YOU CLICK THE GET HTML/CSS CODE BUTTON
DO IT BELOW THIS POINT BUT BEFORE THE CREDIT */
	
/* CREDIT - no touchy this part, the code will work just fine */
 
.breadcrumb::after {
content: "css by jester (#187561)";
color: #HEX;
position: absolute;
right: 13%;
z-index: 100; }
		
@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%;
        }
    }

/* code for full sized king portraits
these are centered on all devices
code by jester (#187561) and katie (#106445)
please retain credit, you are free to edit as you wish */

form > table#about > tbody > tr.right {
  display: flex !important;
  flex-direction: column !important;
    text-align: center !important; }
form > table#about > tbody > tr.right > td[style] {
  display: block !important;
  width: 100% !important;
  padding: 0 !important;
    margin: 0 !important; }
div.lion-image-block[data-image-type="headshot"] img {
    display: none !important; }
div.lion-image-block[data-image-type="headshot"] {
  background-image: url('https://cdn.imgchest.com/files/e5e0bae8485e.png') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  width: 640px !important;
  height: 500px !important;
  display: grid !important;
  padding: 0 !important;
  margin: 0 auto !important;
  margin-top: 10px !important;
  border: none !important;
    box-sizing: border-box !important;
  overflow: visible !important;
    border-radius: 25px; }
form > table#about > tbody > tr.right > td[style] > a,
form > table#about > tbody > tr.right > td[style] #lion_image,
form > table#about > tbody > tr.right > td[style] #lion_image > a {
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 0 !important;
    font-size: 0 !important; }
/* disconnects from associated columns */
form > table#about > tbody > tr.right > td[style] > a,
form > table#about > tbody > tr.right > td[style] #lion_image,
form > table#about > tbody > tr.right > td[style] #lion_image > a {
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 0 !important;
    font-size: 0 !important; }
	
@media (max-width: 768px) {
	form > table#about > tbody > tr.right {
  display: flex !important;
  flex-direction: column !important;
    text-align: center !important; }
form > table#about > tbody > tr.right > td[style] {
  display: block !important;
  width: 100% !important;
  padding: 0 !important;
    margin: 0 !important; }
div.lion-image-block[data-image-type="headshot"] img {
    display: none !important; }
div.lion-image-block[data-image-type="headshot"] {
  background-image: url('https://cdn.imgchest.com/files/e5e0bae8485e.png') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  width: 500px !important;
  height: auto !important;
  display: grid !important;
  padding: 0 !important;
  margin: 0 auto !important;
  margin-top: 10px !important;
  border: none !important;
    box-sizing: border-box !important;
  overflow: visible !important;
    border-radius: 25px; }
form > table#about > tbody > tr.right > td[style] > a,
form > table#about > tbody > tr.right > td[style] #lion_image,
form > table#about > tbody > tr.right > td[style] #lion_image > a {
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 0 !important;
    font-size: 0 !important; }
/* disconnects from associated columns */
form > table#about > tbody > tr.right > td[style] > a,
form > table#about > tbody > tr.right > td[style] #lion_image,
form > table#about > tbody > tr.right > td[style] #lion_image > a {
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 0 !important;
font-size: 0 !important; } }

