/* Jester's CSS Template
Inspired by Katie's (#106445) Template
Cave Replacement Code by Bobcat (#79288)
Colored Panel Bars by Tserin (#2230)
Firefox-Compatible Code by Atticus (#198107)
Thank you to Katie, for encouraging me and supporting me */
 
/* FONTS */
 
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Pirata+One&display=swap');
 
body {font-family: 'IBM Plex Mono', monospace;}
 
.topbar {font-family: 'IBM Plex Mono', monospace;}
 
.navbar {font-family: 'Pirata One', cursive;}
 
 
/* HEADERS */
 
h1 {color: #594E45 !important;
    font-size: 72px;
text-align: left !important;
text-shadow: 3px 2px 1px #6D7B8C !important;
text-transform: uppercase !important;
font-family: 'Pirata One', cursive;}

h2 {color: #594E45 !important;
    font-size: 24px;}

h3 {color: #594E45 !important;
    font-size: 18px;}
 
/* LINKS */
 
a:link,
a:visited {
    color: #D0DFF2  !important;
background: none !important; }
   
a:hover {
    color: #D0DFF2  !important; }
 
/* BACKGROUNDS */
 
@media screen and (min-width: 601px) { 
body {
    background: url('https://cdn.imgchest.com/files/beab98e7622f.png') center center fixed;
    background-size: 100%;
    color: #D0DFF2; } }

@media screen and (max-width: 600px){
body {
background: #99AABF;
background-size: cover;
color: #D0DFF2; } }
 
/* MAIN PANEL */
   
.container.main {
    background: rgba(153, 170, 191, 0.4);
    border: none;
    box-shadow: none;
    border-radius: 0px; }
.col-md-9 {
    background: none; } 
 
/* TOPBAR, NAVBAR, & BREADCRUMB */
 
.topbar {
    background: #594E45 !important;
    color: #D0DFF2 !important;
border: none !important;
border-radius: 3px !important;
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;  }
 
.navbar {
   background: #6D7B8C !important;
    color: #594E45 !important;
border: none !important;
border-radius: 5px !important; }
 
.navbar li a:hover {
   background: #6D7B8C !important;
    color: #594E45 !important;
text-decoration: underline !important;	}
 
.breadcrumb {
    background: #594E45 !important;
    color: #D0DFF2 !important;
border: none !important;
border-radius: 3px !important;} 
.breadcrumb .active {
    color: #D0DFF2 !important; }

.breadcrumb a, .breadcrumb a:hover {
    color: #D0DFF2 !important; }
 
/* ALERTS */
 
.alert, .alert-warning, .alert-danger, .alert-success {
    background: #594E45 !important;
    color: #D0DFF2 !important;
border: none !important;
border-radius: 5px !important; }
.alert a, .alert-warning a, .alert-success a, .alert-danger a, .alert a:hover, .alert-warning a:hover, .alert-danger a:hover, .alert-success a:hover {
    color: #D0DFF2 !important; }
 
/* FAPA, KING DYNASTY, ETC. */
 
.feature {
    background: #594E45 !important;
    color: #D0DFF2 !important;
border: none !important;
border-radius: 5px !important;  }
.feature,
div.left {
    background: #594E45 !important;
    color: #D0DFF2 !important;
border: none !important;
border-radius: 5px !important; }
.feature h3 {
color: #D0DFF2 !important; }
 
/* SIDE PANELS */
 
.panel {
    background: #594E45 !important;
    color: #D0DFF2 !important;
border: none !important;
border-radius: 5px !important;
box-shadow: none !important; }
   
.progress {
    background:  #99AABF;
    color: #HEX !important;
border-radius: 2px !important;  }
   
.progress div {
    color: #26261D !important; }

.progress-bar {
    background: #D0DFF2 !important; 
border-radius: 2px !important; }
 
/* CHAT */
 
.s-chat-message:nth-child(even), .s-chat-message:nth-child(odd) {
    background: #594E45 !important;
    border: none !important; }
.s-chat-message:nth-child(even) a, .s-chat-message:nth-child(odd) a, 
.s-chat-message:nth-child(even) a:hover, .s-chat-message:nth-child(odd) a:hover {
color: #D0DFF2 !important }
.s-chat-message__pinned {
    background: #HEX !important;
    color: #HEX !important;
    border: none !important; }
.s-chat-message_timestamp {
    color: #D0DFF2 !important; }
   
div#chatMessageContainer {
    border: none !important; }
button#label_currentChannel, button.channelSwitcher {
    border: none !important;
    background: #D0DFF2 !important;
color: #26261D !important;	}
 
/* LION INFO */
 
.table {
    background: rgba(55, 58, 39, 0.0);
    border: none !important;
    border-collapse: separate;
    border-radius: 0px; }
.top,
.bottom,
th {
    background: #594E45 !important;
    color: #D0DFF2 !important;
border: none !important;
border-radius: 5px !important; }
 
.table .left {
    background: #99AABF;
border-radius: 0px !important;
color: #594E45 !important; }
.inner-table .left {
    background: #99AABF !important;
border-radius: 3px !important;
border-top-right-radius: 0px !important;
border-bottom-right-radius: 0px !important;
color: #594E45 !important;  }
.inner-table .right {
    background: #D0DFF2 !important;
border-radius: 0px !important; 
color: #594E45 !important;
border-top-left-radius: 0px !important;
border-bottom-left-radius: 0px !important; } 
.right_odd {
    background: none !important; }

.inner-table .right a {
color: #594E45 !important; }
 
/* ACCOUNT OPTIONS */
 
.item-header {
    background: #594E45 !important;
    color: #D0DFF2 !important;	} 
.item {
    background: #D0DFF2 !important;
    border: none !important; }
 
/* TEXT BOXES & BUTTONS */
 
input, textarea, select, button.button {
    background: #D0DFF2 !important;
    color: #594E45 !important;
border: none !important;
border-radius: 2px !important;; }
 
/* CAVE NAMES */
 
.cave-grid,
.mound-grid {
     background: #594E45 !important;
    color: #D0DFF2 !important;
border: none !important;
border-radius: 5px !important; }

 
/* SCROLL BOXES */
 
::-webkit-scrollbar {
    width: 7px;
    height: 7px; }
::-webkit-scrollbar-track {
    background: #594E45;}
::-webkit-scrollbar-thumb {
    background: #3F402E; }
 
/* CREDIT */
 
.breadcrumb::after {
        content: "css by jester (#187561)";
        color: #D0DFF2;
        position: absolute;
        right: 13%;
        z-index: 100; }
		
@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%;
        }
    }
 
/* EXTRAS - ADD/REMOVE BASED ON COMMISSION */
 
/* BOXES */

.boxcontainer {
    background: none;
height: 150px;
    padding: 0px;
    display: block;
    justify-content: center; 
	transition: 2s	}
   
.Box1 {
    float: left;
   background: #6D7B8C !important;
    color: #594E45 !important;
border: none !important;
border-radius: 5px !important;
    padding: 5px;
    float: left;
height: 150px;
    width: 65%;
    overflow: hidden;
    margin-bottom: 10px;
    transition: 1s }   

   
.Box2 {
    float: right;
   background: #6D7B8C !important;
    color: #594E45 !important;
border: none !important;
border-radius: 5px !important;
    padding: 5px;
    float: right;
height: 150px;
    width: 30%;
    overflow: hidden;
    margin-bottom: 10px;
    transition: 1s }   

	
.Box3 {
    float: right;
   background: #6D7B8C !important;
    color: #594E45 !important;
border: none !important;
border-radius: 5px !important;
    padding: 5px;
    float: right;
height: 150px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    transition: 1s }   


 
/* LION AND USER AVATAR OPACITY */
   
div#lion_image {
    opacity: 0.8;
border-radius: 50%;
overflow: hidden; }   
table#player img {
    opacity: 0.8;
border-radius: 50%; }

/* LIODEN LOGO REPLACER */
   
div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
        display: none;}
div.container.main>div:nth-child(1)>nav>div.navbar-header>a::after {
        content: url('https://cdn.imgchest.com/files/b11771c515cc.png'); }
		
.footer a:link, .footer a:visited, .footer a:active {
border-bottom: none !important; }
