/* Jester's CSS Template
Inspired by Katie's (#106445) Template
Cave Replacement Code by Bobcat (#79288)
Colored Panel Bars by Tserin (#2230)
Firefox-Compatible Code by Atticus (#198107)
Thank you to Katie, for encouraging me and supporting me */
 
/* FONTS */
 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Cherokee:wght@300&family=Tangerine:wght@700&display=swap');
 
body {font-family: 'Noto Sans Cherokee', sans-serif;}
 
.topbar {font-family: 'Noto Sans Cherokee', sans-serif;}
 
.navbar {font-family: 'Tangerine', cursive;}
 
 
/* HEADERS */
 
h1 {color: #F2F2F2 !important;
    font-size: 64px;
text-align: center !important;
text-transform: uppercase !important;
font-family: 'Tangerine', cursive;
text-shadow: 2px 1px 1px #D99C9C !important;}

h2 {color: #F2F2F2 !important;
    font-size: 24px;}

h3 {color: #F2F2F2 !important;
    font-size: 18px;}
 
/* LINKS */
 
a:link,
a:visited {
    color: #F2F2F2 !important;
background: none !important; }
   
a:hover {
    color: #D99C9C !important; }
 
/* BACKGROUNDS */
 
@media screen and (min-width: 601px) { 
body {
    background: url('https://cdn.imgchest.com/files/0230341f09d7.jpg') center center fixed;
    background-size: 100%;
    color: #F2F2F2; } }

@media screen and (max-width: 600px){
body {
background: #94A69F;
background-size: cover;
color: #F2F2F2; } }
 
/* MAIN PANEL */
   
.container.main {
    background: rgba(55, 58, 39, 0.0);
    border: none;
    box-shadow: none;
    border-radius: 5px; }
.col-md-9 {
    background: none; } 
 
/* TOPBAR, NAVBAR, & BREADCRUMB */
 
.topbar {
    background: rgba(108, 140, 122, 0.7) !important;
    color: #F2F2F2 !important;
border: none !important;
border-radius: 3px !important;
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;  }
 
.navbar {
   background: rgba(217, 156, 156, 0.7) !important;
    color: #F2F2F2 !important;
border: none !important;
border-radius: 5px !important; }
 
.navbar li a:hover {
font-size: 16px !important;
color: #F2F2F2 !important; }
 
.breadcrumb {
    background: rgba(108, 140, 122, 0.7) !important;
    color: #F2F2F2 !important;
border: none !important;
border-radius: 3px !important; } 
.breadcrumb .active {
    color: #F2F2F2; }

.breadcrumb a {
color: #F2F2F2 !important; }
 
/* ALERTS */
 
.alert, .alert-warning, .alert-danger, .alert-success {
   background: rgba(217, 156, 156, 0.7) !important;
    color: #F2F2F2 !important;
border: none !important;
border-radius: 3px !important;
text-align: center !important;  }
.alert a, .alert-warning a, .alert-success a, .alert-danger a, .alert a:hover, .alert-warning a:hover, .alert-danger a:hover, .alert-success a:hover {
color: #F2F2F2 !important; }
 
/* FAPA, KING DYNASTY, ETC. */
 
.feature {
    background: rgba(108, 140, 122, 0.7) !important;
    color: #F2F2F2 !important;
border: none !important;
border-radius: 5px !important;  }
.feature,
div.left {
    background: rgba(108, 140, 122, 0.7) !important;
    color: #F2F2F2 !important;
border: none !important;
border-radius: 5px !important; }
 
/* SIDE PANELS */
 
.panel {
    background: rgba(108, 140, 122, 0.7) !important;
    color: #F2F2F2 !important;
border: none !important;
border-radius: 5px !important;
box-shadow: none !important;  }
   
.progress {
    background:  #94A69F;
    color: #HEX !important;
border-radius: 3px !important;  }
   
.progress div {
    color: #F2F2F2 !important; }

.progress-bar {
    background: #D99C9C !important; 
border-radius: 3px !important; }
 
/* CHAT */
 
.s-chat-message:nth-child(even),
.s-chat-message:nth-child(odd) {
    background: #94A69F !important;
    border: none !important; }
.s-chat-message__pinned {
    background: #6C8C7A !important;
    color: #F2F2F2 !important;
    border: none !important; }
.s-chat-message_timestamp {
    color: #F2F2F2 !important; }
   
div#chatMessageContainer {
    border: none !important; }
button#label_currentChannel {
    border: none !important;
    background: #D99C9C !important; }
 
/* LION INFO */
 
.table {
    background: rgba(55, 58, 39, 0.0);
    border: none !important;
    border-collapse: separate;
    border-radius: 0px; }
.top,
.bottom,
th {
    background: rgba(152, 172, 133, 0.7) !important;
    color: #F2F2F2 !important;
border: none !important;
border-radius: 5px !important; }

th {
	border-bottom-left-radius: 0px !important;
border-bottom-right-radius: 0px !important; }
 
.table .left {
    background: rgba(108, 140, 122, 0.7) !important;
    color: #F2F2F2 !important;
border: none !important;
border-radius: 0px !important; }
.inner-table .left {
    background: rgba(108, 140, 122, 0.7) !important;
    color: #F2F2F2 !important;
border: none !important;
border-radius: 3px !important;
border-top-right-radius: 0px !important;
border-bottom-right-radius: 0px !important;    }
.inner-table .right {
    background: rgba(148, 166, 159, 0.7) !important;
    color: #F2F2F2 !important;
border: none !important;
border-radius: 3px !important;
border-top-left-radius: 0px !important;
border-bottom-left-radius: 0px !important;    } 
.right_odd {
    background: none !important; }

.inner-table .right a {
color: #F2F2F2 !important; }
 
/* ACCOUNT OPTIONS */
 
.item-header {
    background: rgba(108, 140, 122, 0.7) !important;
    color: #F2F2F2 !important; } 
.item {
    background: rgba(148, 166, 159, 0.7) !important;
    border: none !important; }
 
/* TEXT BOXES & BUTTONS */
 
input, textarea, select, button.button {
    background: rgba(217, 156, 156, 0.7) !important;
    border: none !important;
    border-radius: 2px !important;
    color: #F2F2F2 !important;
    text-shadow: none !important; }
 
/* CAVE NAMES */
 
.cave-grid,
.mound-grid {
    background: rgba(108, 140, 122, 0.7) !important;
    color: #F2F2F2 !important;
border: none !important;
border-radius: 5px !important; }

 
/* SCROLL BOXES */
 
::-webkit-scrollbar {
    width: 7px;
    height: 7px; }
::-webkit-scrollbar-track {
    background: #94A69F;}
::-webkit-scrollbar-thumb {
    background: #D99C9C; }
 
/* CREDIT */
 
.breadcrumb::after {
        content: "css by jester (#187561)";
        color: #D99C9C;
        position: absolute;
        right: 13%;
        z-index: 100; }
		
@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%;
        }
    }
 
/* EXTRAS - ADD/REMOVE BASED ON COMMISSION */
 
/* BOXES */

.boxcontainer {
    background: none;
height: 150px;
    padding: 0px;
    display: block;
    justify-content: center; 	
	transition: 2s}

   
.Box1 {
    float: left;
    background: rgba(217, 156, 156, 0.7) !important;
    border: none !important;
    border-radius: 5px !important;
    color: #F2F2F2 !important;
    padding: 5px;
    float: left;
height: 150px;
    width: 65%;
    overflow: hidden;
    margin-bottom: 10px;
    transition: 1s }   

   
.Box2 {
    float: right;
    background: rgba(217, 156, 156, 0.7) !important;
    border: none !important;
    border-radius: 5px !important;
    color: #F2F2F2 !important;
    padding: 5px;
    float: right;
height: 150px;
    width: 30%;
    overflow: hidden;
    margin-bottom: 10px;
    transition: 1s }   
	
.Box3 {
    float: right;
    background: rgba(217, 156, 156, 0.7) !important;
    border: none !important;
    border-radius: 5px !important;
    color: #F2F2F2 !important;
    padding: 5px;
    float: right;
height: 150px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    transition: 1s }   

 
/* LION AND USER AVATAR OPACITY */
   
div#lion_image {
    opacity: 0.8;
border-radius: 50%;
overflow: hidden; }   
table#player img {
    opacity: 0.8;
border-radius: 50%; }

/* LIODEN LOGO REPLACER */
   
div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
        display: none;}
div.container.main>div:nth-child(1)>nav>div.navbar-header>a::after {
        content: url('https://cdn.imgchest.com/files/2a0ae98b81b5.png'); }
		
.footer a:link, .footer a:visited, .footer a:active {
border-bottom: none !important; }
